[submodule "src/components/arduino"]
	path = src/components/arduino
	url = https://github.com/LeonMatthes/arduino-esp32.git
[submodule "src/components/BMA423-Sensor-API/git"]
	path = src/components/BMA423-Sensor-API/git
	url = https://github.com/BoschSensortec/BMA423-Sensor-API.git
